@import "../../02_Styles/variables.scss";

.localContainer {
}

.socials {
  border: 1px solid black;
  margin: 50px auto;
  max-width: 500px;
  display: flex;

}
.socialsItem {
  width: 25%;
  height: 100px;
  background: mediumpurple;
  &:not(:last-of-type){
    margin-right: 10px;
  }
}
