@import 'reset.scss';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1rem;
}


body {
  font-family: 'Roboto', sans-serif;
  color: $light;
  font-size: 1rem;
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: $light;
}
ol,
ul {
  list-style: none;
}
input, textarea {
  outline: none;
}


