// Colors
$grey-dark: #1f1f20;
$grey-medium: #252527;
$grey-light: #363637;
$blue: #4e93e6;
$red: #dc3545;
$light: #fff0f0;
$orange: #fd7e14;

// Font sizes
$sectionTitleMobile: 2rem;
$sectionTitleDesktop: 3rem;

// Section vertical padding
$verticalPaddingMobile: 40px 0;

// Adaptive
$mediaMax480: 300px;
$mediaMax768: 460px;
$mediaMax1024: 760px;
$mediaMax1200: 999px;
$mediaMin1201: 1140px;


// Border radius
$bRadius10: 10px;
$bRadius5: 5px;

// Transition
$transition3: 0.3s ease all;

// Font weight
$fw-sm: 100;
$fw-md: 400;
$fw-lg: 700;


@mixin breakpoint($point) {
  @if $point == 1400 {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point == 1200 {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == 1024 {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == 768 {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == 480 {
    @media (min-width: 480px) {
      @content;
    }
  }
}


// REMOVE

// spacing
$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 64px;


// Header
$headerHeight: 120px;

// Font size
$fz-sm: 0.5rem;
$fz-md: 1.2rem;
$fz-lg: 1.5rem;
$fz-xl: 2rem;
$fz-xxl: 2.5rem;
