@import "../../../02_Styles/variables";


.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: $bRadius10;
  padding: 15px;
  max-width: 350px;
  margin: 15px;

  //Temp
  background-color: darkgreen;
}

.title {
  padding: 10px;
  margin: 5px;
  //Temp
  background-color: #777777;
}

.image img {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.description {
  text-align: justify;
  margin: 5px;

  //Temp
  background-color: darkred;
}

