@import "../../02_Styles/variables.scss";

.about {
  background-color: $grey-dark;
  padding: $verticalPaddingMobile;
  min-height: 50vh;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // temp
  background-color: #4e93e6;
}

.sectionTitle{
  font-size: $sectionTitleMobile;
  padding: 20px;
  text-align: center;

  //Temp
  background-color: silver;
}
.accordion {
}


.accordionItem {
  border-bottom: 1px solid $light;
  background-color: $grey-dark;

}

.accordionItem:first-of-type {
  border-top: 1px solid $light;
}
.accordionItemBtn {
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
  padding: 25px;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  background-color: $grey-dark;
  color: $light;
  &:hover{
    color: $orange;
  }
  @include breakpoint(768) {
    font-size: $fz-md;
    padding: 35px 20px;
  }
}
.accordionItemBtn::after {
  content: '';
  height: 18px;
  width: 18px;
  margin-left: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2551650'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: transform 0.4s ease-in-out;
}

.accordionItem.active .accordionItemBtn::after {
  transform: rotate(-180deg);
}

.accordionItemContainer {
  transition: height 0.4s ease-in-out;
  overflow: hidden;
  background-color: $grey-light;
}

.accordionItemContent {
  font-size: $fz-md;
  font-weight: $fw-sm;
  padding: 10px;
  @include breakpoint(768) {
    font-size: $fz-lg;
    padding: 10px 20px 40px 0;
  }
}

.singleLine{
  padding: 5px;
}