@import "./../../02_Styles/variables.scss";


.hero {
    background-color: $grey-dark;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    align-items: center;

    @include breakpoint(576) {
        flex-direction: row;
        justify-content: space-between;
        padding: 100px 35px;
    }
    @include breakpoint(768) {
        padding: 100px 100px;
    }
    @include breakpoint(992) {
        padding: 100px 200px;
    }
    @include breakpoint(1200) {
        max-width: 1140px;
    }
}

.heroInfo {
    align-self: flex-start;
    min-height: 130px;
    @include breakpoint(576) {
        align-self: center;
    }
}

.line1, .line2 {
    font-size: 1.5rem;
}

.name {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 2rem;
    position: relative;
    margin-bottom: 10px;    
    @include breakpoint(992) {
        font-size: 2.5rem;
    }
}
.heroImage {
    width: 200px;
    height: 250px;
    background-color: #777;
    margin-top: 50px;

    @include breakpoint(768) {
        width: 250px;
        height: 300px;
    }
}