@import "../../02_Styles/variables.scss";

.localContainer {
  background: papayawhip;
  margin-top: 50px;
  @include breakpoint(768) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.heroInfo {
  text-align: left;
  min-height: 130px;
  min-width: 300px;
  .name {
    font-size: 30px;
  }

}



.heroImage {
  border: 1px solid red;
  max-width: 400px;
  height: 400px;
  background: red;
}